@import 'config';
@import 'nav';
@import 'side';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    h1 {
        color: $primary-title-color;
        font-weight: 700;
        padding-bottom: 16px;
        margin-bottom: 26px;
        border-bottom: 1px solid #ddd;
    }
    .content {
        padding: 15px 30px;
        h2 {
            font-size: 24px;
            font-weight: 700;
        }
        li {
            line-height: 2em;
        }
    }
}

@media (max-width: $sm-width) {
    .main {
        .content {
            padding: 15px;
        }
    }
}
