$navbar-height: 60px;
$navbar-top-height: 60px;

.navbar-top {
    position: relative;
    height: $navbar-top-height;
    z-index: 1001;
    .search {
        position: relative;
        display: inline-block;
        line-height: $navbar-top-height;

        input {
            border: 1px solid #eee;
            font-size: 14px;
            padding-left: 6px;
            padding-right: 30px;
            width: 100%;
            max-width: 210px;
            height: 30px;
        }
        button {
            position: absolute;
            top: 0;
            right: 2px;
            background: transparent;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    .btn-lang {
        border: none;
        font-weight: 700;
        &:hover,
        &:focus,
        &.focus {
            background-color: transparent !important;
            border-color: none !important;
            outline: none;
            box-shadow: none;
        }
    }
    .open > .dropdown-toggle.btn-default {
        background-color: transparent !important;
        border-color: none !important;
    }
    .dropdown-menu {
        min-width: inherit;
    }
}
.ll-navbar {
    border-top: 1px solid #eee;
    margin-bottom: 0;
    .logo {
        line-height: $navbar-height;
        width: 254px;
        padding: 0 10px;
    }

    .navbar-toggle {
        .icon-bar {
            background-color: #000;
        }
    }

    .navbar-nav {
        padding-left: 40px;
        background: #fff;
        .active {
            a {
                background-color: transparent;
                color: #85ef47;
                &:hover {
                    background-color: transparent;
                    color: #85ef47;
                }
            }
        }
        a {
            line-height: calc(#{$navbar-height} - 24px);
            color: #727272;
            font-size: 1.1em;
            font-weight: 700;
            padding: 24px 16px 0;
            transition: color 0.3s;
            &:hover {
                background-color: transparent;
                color: #85ef47;
            }
            &:focus {
                outline: none;
                background: transparent;
            }
        }
    }
}

.ll-container {
    padding-right: 60px;
    padding-left: 60px;
}

@media (max-width: $sm-width) {
    .ll-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}