.side-menu {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    .title {
        background-image: url('../image/product/sidebg.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 58px;
        line-height: 58px;
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 1em;
    }

    ul {
        list-style-type: none;
        padding: 0;

        a {
            display: block;
            padding: 10px 20px;
            color: #565656;
            font-weight: 700;
            font-size: 1.5em;
            transition: color 0.3s;
            &:hover {
                background-color: transparent;
                color: #85ef47;
            }
            &:focus {
                outline: none;
                background: transparent;
            }
        }

        .active {
            a {
                background-color: transparent;
                color: #85ef47;
                &:hover {
                    background-color: transparent;
                    color: #85ef47;
                }
            }
        }
    }
}