.side-wrap {
    padding: 0 20px;
}
.side-title {
    font-size: 36px;
    color: $main-border-color;
    background-color: #e5e5e5;
    background-image: url('../image/about/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    line-height: 136px;
    font-weight: 700;
    text-align: center;
}
.side-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 4px solid #53b4f2;
    border-bottom: 4px solid #53b4f2;
    li.active {
        a {
            color: #ffc600;
        }
    }
    li {
        padding: 4px 20px;
        &:before {
            content: ' ';
            background-color: #53b4f2;
            display: inline-block;
            margin-bottom: 3px;
            width: 12px;
            height: 12px;
        }

        &:first-child {
            margin-top: 20px;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }
    a {
        display: inline-block;
        color: $sceond-text-color;
        font-size: 24px;
        padding: 8px 20px;
        transition: color .3s;
        &:hover {
            color: #ffc600;
        }
        &:focus {
            outline: none;
            background: transparent;
            text-decoration: none;
        }
    }
}

@media (max-width: $sm-width) {
    .side-wrap {
        padding: 0 15px;
    }
}
