@import 'config';
@import 'nav';
@import 'side';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    h1 {
        color: $primary-title-color;
        font-weight: 700;
        padding-bottom: 16px;
        margin-bottom: 26px;
        border-bottom: 1px solid #ddd;
    }
    p {
        font-size: 1.2em;
        line-height: 2em;
    }
    p.strong {
        color: $primary-text-color;
        font-weight: 900;
        font-style: italic;
        padding-top: 20px;
    }
    .content {
        padding: 0 30px;
    }
}

@media (max-width: $sm-width) {
    .content {
        padding: 0 15px;
    }
}
