@import 'config';
@import 'nav';
@import 'pd-menu';
@import 'share';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    padding: 48px 0;
}

h1.title {
    position: relative;
    margin-bottom: 1.6em;
    padding: 0 0 10px 40px;
    border-bottom: 3px solid #0ca53d;
    font-size: 1.8em;
}

.cart-item {
    tr {
        td {
            vertical-align: middle !important;
            padding: 12px;
            border-bottom: 1px solid #eee;
        }
        .pd-name {
            padding-left: 2em !important;
        }
    }
    .w120 {
        width: 120px;
    }
    .remove {
        color: #9a9b9c;
        &:hover {
            color: #4a4a4a;
        }
    }
}

.btn-blue {
    background: #6698cb;
    color: #fff;
}
.btn-green {
    background: #82c8a0;
    color: #fff;
}