@import 'config';
@import 'nav';
@import 'side';
@import 'share';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    padding: 48px 0;
}

h1.title {
    position: relative;
    margin-bottom: 1.6em;
    padding: 0 0 10px 40px;
    border-bottom: 3px solid #0ca53d;
    font-size: 1.8em;
}

.cart-item {
    tr {
        td {
            vertical-align: middle !important;
            padding: 12px;
            border-bottom: 1px solid #eee;
        }
        .pd-name {
            padding-left: 2em !important;
        }
    }
    .w120 {
        width: 120px;
    }
    .remove {
        color: #9a9b9c;
        &:hover {
            color: #4a4a4a;
        }
    }
}

.card {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    &.card-success {
        border-bottom: solid 3px #4caf50;
        border-radius: 3px;
    }

    .card-header {
        padding: 15px 20px;
        padding: 1.5rem 2rem;
        background-color: #4caf50;
        color: #f5f5f5;
        border: 0;
    }

    .card-block {
        padding: 2rem;
    }

    .list-unstyled {
        li {
            line-height: 2;
        }
    }

    .color-success {
        color: #4caf50 !important;
    }

    .color-warning {
        color: #ff9800 !important;
    }
}
