@import 'config';
@import 'nav';
@import 'side';
@import 'share';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    padding: 48px 0;
}

h1.title {
    position: relative;
    margin-bottom: 1.6em;
    padding: 0 0 10px 40px;
    border-bottom: 3px solid #0ca53d;
    font-size: 1.8em;
}
