@import 'config';
@import 'nav';
@import 'footer';
@import 'gotop';

.layer1 {
    background-image: url('../image/index/bg1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.layer2 {
    background-image: url('../image/index/bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.main {
    padding: 4em 0 12em;

    .company-container {
        border: 3px solid #fff;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px 40px;
        color: #144370;
        width: 90%;
        img {
            margin-top: 104px;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 1em;
        }
        p {
            line-height: 1.6;
            font-size: 1.5em;
        }
    }

    .service-container {
        text-align: center;
        width: 90%;
        padding: 6em 0 0;

        .service {
            position: relative;
            display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 1em;
            img {
                transition: all .3s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
            .overlay {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                padding: 10px;
                color: #fff;
            }
            .title-zh {
                font-size: 2em;
                font-weight: 700;
            }
            .title-en {
                font-size: 1em;
            }
        }
    }
}

.products {
    padding-bottom: 6em;
    h2 {
        text-align: center;
        color: #144370;
        font-weight: 700;
        font-size: 2.5em;
    }
    .product-container {
        border: 3px solid #fff;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.5);
        width: 90%;
        margin: 0 auto;
        padding: 0 4em;
        .img-wrap {
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 40px;
            background: #fff;
        }
        .product {
            padding: 1em;
        }
        .product-name {
            font-size: 1.4em;
            font-weight: 700;
            text-align: center;
            padding: 12px 0;
        }
    }
}

.social {
    background: #fff;
    padding: 20px 0;
    margin: 0;
    a {
        float: left;
        width: 50%;
        text-align: center;

        &:first-child {
            border-right: 1px solid #eee;
        }
    }
}

@media screen and (max-width: $md-width) {
    .layer1 {
        background-image: none;
        background: linear-gradient(0deg, #91e2fe 34%, #e2edf8 60%);
        background: -moz-linear-gradient(0deg, #91e2fe 34%, #e2edf8 60%);
        background: -webkit-linear-gradient(0deg, #91e2fe 34%, #e2edf8 60%);
        background: -o-linear-gradient(0deg, #91e2fe 34%, #e2edf8 60%);
    }

    .layer2 {
        background-image: none;
    }
}
