@import 'config';
@import 'nav';
@import 'footer';
@import 'gotop';

.main {
    background-image: url('../image/index/bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2.5em;

    .company-info {
        border: 3px solid #fff;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px 40px;
        color: #144370;
        h1 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 1em;
        }
        p {
            line-height: 1.8;
        }
    }

    .services {
        text-align: center;
        margin-top: 2em;
        .col-md-4 {
            padding: 2em;
        }
        .service {
            position: relative;
            display: inline-block;
            border-radius: 20px;
            overflow: hidden;
            .overlay {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                padding: 10px;
                color: #fff;
            }
            .title-zh {
                font-size: 2em;
                font-weight: 700;
            }
            .title-en {
                font-size: 1em;
            }
        }
    }
}
