@import 'config';
@import 'nav';
@import 'pd-menu';
@import 'share';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    padding: 48px 0;
}

#lightSlider {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor: pointer;
        text-align: center;
    }
    img {
        height: auto;
        max-width: 80%;
    }
}

h1.title {
    position: relative;
    margin-bottom: 1.6em;
    padding: 0 0 10px 40px;
    border-bottom: 3px solid #0ca53d;
    font-size: 1.8em;
    &:before {
        content: '';
        position: absolute;
        top: calc(50% - 19px);
        left: 4px;
        display: inline-block;
        width: 28px;
        height: 28px;
        background-image: url('../image/product/plus.png');
        background-size: contain;
    }
}

.pd-name {
    font-weight: 700;
}

.pd-info {
    margin: 16px 0 32px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    div {
        line-height: 2;
    }
    .attr {
        display: inline-block;
        width: 90px;
        text-align: right;
    }
    .val {
        margin-left: 0.8em;
    }
}

.btn-blood {
    background: #bf1212;
    color: #fff;
    border: none;
    padding: 10px 40px;
}

.btn-gray {
    background: #b6b9bb;
    color: #fff;
    border: none;
    padding: 10px 40px;
}

.nav-tabs {
    li {
        a {
            border-radius: 0;
            padding: 20px 40px;
        }
        &.active {
            & > a {
                border-top: 3px solid #0ca53d !important;
            }
        }
    }
}
