@import 'config';
@import 'nav';
@import 'side';
@import 'share';
@import 'footer';
@import 'gotop';
@import 'breadcrumb';

.main {
    padding: 48px 0;
}

h1.title {
    position: relative;
    margin-bottom: 1.6em;
    padding: 0 0 10px 40px;
    border-bottom: 3px solid #0ca53d;
    font-size: 1.8em;
}

.sitemap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        color: $sceond-text-color;
        text-align: left;
    }
    .first {
        padding: 6px 20px;
        background: #e7f7ff;
        border-radius: 4px;
        a {
            font-size: 1.2em;
        }
    }
    .second {
        & > a {
            display: block;
            border-left: 4px solid #ddd;
            padding: 4px 10px;
            margin: 1em 0 16px;
        }
        ul {
            list-style-type: none;
            padding-left: 20px; 
            a {
                display: block;
                font-size: .9em;
                margin-bottom: 8px;
            }
        }
    }
}

@media (max-width: $sm-width) {
    .sitemap {
        text-align: center;
        padding-left: 0;
        .first {
            border-left: none;
            padding-left: 0;
        }
    }
}
